@(personList : List[Person])
@main("Liste"){
@logOut()
<form action="/search" method="POST">
	Search by: <ul>
			<li>first name <input type="text" name="name"></li>
			<li>surname <input type="text" name="surname"></li>
			<li>year of travel <input type="text" disabled></li>
			<li>nationality <input type="text" name="nationality"></li>
			<li>destination <input type="text" disabled></li>
			<li>school <input type="text" name="school"></li>
			<li>company <input type="text" disabled></li>
			   </ul>
	<button>Search</button>
</form>
	<table>
	<tr>
		<th>First name</th>
		<th>Surname</th>
		<th>Birthday</th>
		<th>E-mail</th>
		<th>Phone number</th>
		<th>Skype ID</th>
		<th>School of origin</th>
		<th>Nationality</th>
	</tr>
	@for(person <- personList){<tr>
		<td>@person.name</td>
		<td>@person.surname</td>
		<td>@person.birthday.format("dd/MM/yyyy")</td>
		<td>@person.mail</td>
		<td>@person.phone</td>
		<td>@person.skype</td>
		<td>@person.schoolOfOrigin.name</td>
		<td>@if(person.nationality.nationality.equals("")){@person.nationality.name}else{@person.nationality.nationality}</td>
	</tr>}
	</table>
@if(scala.Util.signedIn()){<button>Edit your profile</button>}else{<form action="/first"><button>Sign in</button></form>}
}
